  .page-flexbox-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }


  main {
    flex: 1 0 auto;
  }


  .page-footer {
  	padding: 0px;
  }


  .buyOrBrowseBox {
  	border: solid 3px;
  	border-color: #fb9701;
  	padding: 20px;
  }

  .amazonYellowBorder {
    border: solid 3px;
    border-color: #fb9701;
    min-width: 66%;
  }

  img {
  	width: 100%;
  }

  .centerThis {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fifty-percent{
    width: 50%;
  }
  .displayContainer{
    width: 50%;
  }

  .displayContainer img{
    max-height: 100%;
    max-width: 100%;
  }

  .decentMargin {
    margin: 20px;
  }

  .decentPadding {
    padding: 20px;
  }

  /*BUTTONS*/

 .button-row {
   display: -webkit-inline-box;
     display: -moz-inline-box;
     display: inline-box;
     display: -webkit-inline-flex;
     display: -moz-inline-flex;
     display: -ms-inline-flexbox;
     display: inline-flex;
 }
   .button-row > div {
   position: relative;
     width: 160px;
     height: 50px;
     margin: 0 15px;
     -webkit-perspective: 1000px;
     -moz-perspective: 1000px;
     perspective: 1000px;
 }
   .button-row > div > a {
   margin: 0;
     padding: 0;
     width: 100%;
     height: 100%;
     position: absolute;
     -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     -o-transform-style: preserve-3d;
     transform-style: preserve-3d;
     -webkit-transform: translateZ(-25px);
     -moz-transform: translateZ(-25px);
     -ms-transform: translateZ(-25px);
     -o-transform: translateZ(-25px);
     transform: translateZ(-25px);
     -webkit-transition: -webkit-transform 0.25s;
     -moz-transition: -moz-transform 0.25s;
     transition: transform 0.25s;
 }
   .button-row > div > a::before, .button-row > div > a::after {
   justify-content: center;
     align-items: center;
     margin: 0;
     width: 160px;
     height: 50px;
     position: absolute;
     border: 5px solid black;
     box-sizing: border-box;
     content: attr(content);
     display: -webkit-box;
     display: -moz-box;
     display: box;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flexbox;
     display: flex;
 }
   .button-row > div > a::before {
   background-color: #000;
     color: #fff;
     -webkit-transform: rotateY(0deg) translateZ(25px);
     -moz-transform: rotateY(0deg) translateZ(25px);
     -ms-transform: rotateY(0deg) translateZ(25px);
     -o-transform: rotateY(0deg) translateZ(25px);
     transform: rotateY(0deg) translateZ(25px);
 }
   .button-row > div > a::after {
   background-color: #fff;
     border-color: #000;
     color: #000;
     -webkit-transform: rotateX(90deg) translateZ(25px);
     -moz-transform: rotateX(90deg) translateZ(25px);
     -ms-transform: rotateX(90deg) translateZ(25px);
     -o-transform: rotateX(90deg) translateZ(25px);
     transform: rotateX(90deg) translateZ(25px);
 }
   .button-row > div > a:hover {
   -webkit-transform: translateZ(-25px) rotateX(-90deg);
     -moz-transform: translateZ(-25px) rotateX(-90deg);
     -ms-transform: translateZ(-25px) rotateX(-90deg);
     -o-transform: translateZ(-25px) rotateX(-90deg);
     transform: translateZ(-25px) rotateX(-90deg);
 }
   /* this is just icing */body {
   font-family: "Oswald", Helvetica, Arial, sans-serif;
     font-weight: 300;
     text-transform: uppercase;
     padding: 0;
     margin: 0;
 }
   .main, h1 {
   flex-direction: column;
     justify-content: center;
     align-items: center;
     display: -webkit-box;
     display: -moz-box;
     display: box;
     display: -webkit-flex;
     display: -moz-flex;
     display: -ms-flexbox;
     display: flex;
 }
   html, body, .main {
   height: 100%;
}


/* Arrows */
.arrowContainer {
  text-align: center;
  padding: 0;
}

.arrowDiv {
  display: inline-block;
  vertical-align: middle;
}
.arrowAnchor {
  display: inline-block;
  border-radius: 50%;
}

a:hover .leftArrow, a:hover .top, a:hover .bottom, a:hover .rightArrow{
  border: 0.5em solid #e74c3c;
}

a:hover .leftArrow:after, a:hover .top:after, a:hover .bottom:after, a:hover .rightArrow:after {
  border-top: 0.5em solid #e74c3c;
  border-right: 0.5em solid #e74c3c;
}

.leftArrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 1.5em;
}

.leftArrow:after {
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.top {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-right: 0.75em;
}

.top:after {
  content: '';
  display: inline-block;
  margin-top: 1.4em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.bottom {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 0.75em;
}

.bottom:after {
  content: '';
  display: inline-block;
  margin-top: 0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

.rightArrow {
  display: inline-block;
  width: 4em;
  height: 4em;
  border: 0.5em solid #333;
  border-radius: 50%;
  margin-left: 1.5em;
}

.rightArrow:after {
  content: '';
  display: inline-block;
  margin-top: 1.05em;
  margin-left: -0.6em;
  width: 1.4em;
  height: 1.4em;
  border-top: 0.5em solid #333;
  border-right: 0.5em solid #333;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}