/* STYLES MANG */

body {
	background-color: rgb(20, 110, 180); 
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

h1 {
	color: white;
}
p {
	color: black;
}
.howitworks {
	color: rgb(255, 153, 0);
}
.size{
	color: rgb(255, 153, 0);
}
.interests{
	color: rgb(255, 153, 0);
}
.where {
	color: rgb(255, 153, 0);
}

#indexTable {
	columns: 3;
}