/* STYLES MANG */

body {
	background-color: rgb(20, 110, 180); 
	position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family: Verdana;
}

h1 {
	color: white;
}
p {
	color: black;
	width:75%;
}
.howitworks {
	color: rgb(255, 153, 0);
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}
.size{
	color: rgb(255, 153, 0);
	width:75%;
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}
.interests{
	color: rgb(255, 153, 0);
	width:75%;
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}
.where {
	color: rgb(255, 153, 0);
	width:75%;
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}
.randomMoon {
    border-radius: 100%;
    background: #73AD21;
    padding: 20px; 
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    margin: 0px;
    !important;
}
}
#indexTable {
	columns: 3;
}
