/* STYLES MANG */

body {
	background-color: rgb(20, 110, 180); 
    font-family: Verdana;
}

h1 {
	color: white;
}
p {
	color: black;
}
.howitworks {
	color: rgb(255, 153, 0);
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}
.size{
	color: rgb(255, 153, 0);
	width:100%;
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}
.interests{
	color: rgb(255, 153, 0);
	width:100%;
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
    
}
.where {
	color: rgb(255, 153, 0);
	width:100%;
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
}

.coloredContainer{
	background: rgba(179, 179, 204, 0.2);
	border-radius: 15px;
	color: rgb(255, 153, 0);	
}
.randomMoon {
    border-radius: 100%;
    background: #73AD21;
    padding: 20px; 
    width: 100px;
    height: 100px;
    float: right;
    position: relative;
    margin: 0px;
    
}
#indexTable {
	columns: 3;
}

.clickable {
	cursor: pointer;
}
